<section class="section">
  <div class="container">
    <h1 class="title">Counter</h1>

    <div class="content">
      <p>Simple example with a counter that is updated by the server.</p>
    </div>
    
    <div class="buttons">
      <a class="button" data-live-click="decrement">
        <span class="icon is-small">
          <i class="fas fa-minus"></i>
        </span>
      </a>
      <a class="button" data-live-click="increment">
        <span class="icon is-small">
          <i class="fas fa-plus"></i>
        </span>
      </a>
    </div>

    <p>Count: {{count}}</p>
  </div>
</section>
