<section class="section">
  <div class="container">
    <h1 class="title">Event Stream</h1>

    <div class="content">
      <p>Stream recent changes to the English Wikipedia via the
        <a href="https://www.mediawiki.org/wiki/API:Recent_changes_stream">Recent Changes API</a>.
      </p>
    </div>

    <div class="buttons">
      {{#if streaming}}
        <button
          id="toggle-streaming-button" class="button" data-live-click="stopStreaming"
          data-live-pending-class="is-loading">
          Stop Streaming
        </button>
      {{else}}
        <button 
          id="toggle-streaming-button" class="button is-primary" data-live-click="startStreaming"
          data-live-pending-class="is-loading">
          Start Streaming
        </button>
      {{/if}}
    </div>

    <div class="content">
      <ul>
        {{#each messages}}
          <li data-live-key="{{id}}">
            Change by <b>{{user}}</b>&nbsp;{{{parsedcomment}}}
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</section>
