{{#with counter}}
  <section class="section">
    <div class="container">
      <h1 class="title">Counter</h1>
      
      <div class="buttons">
        <a class="button">
          <span class="icon is-small">
            <i class="fas fa-minus"></i>
          </span>
        </a>
        <a class="button">
          <span class="icon is-small">
            <i class="fas fa-plus"></i>
          </span>
        </a>
      </div>

      <p>Value: {{value}}</p>
    </div>
  </section>
{{/with}}